[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
psycopg2-binary = "*"
redis = "*"
hiredis = "*"
whitenoise = {extras = ["brotli"], version = "*"}
djangorestframework = "==3.14.0"
pyyaml = "*"
requests = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf_yasg = "*"
pillow = "*"
openai = "*"
gTTS = "*"
boto3 = "*"
django-allauth = "*"
dj-rest-auth = {version = "*", extras = ["with_social"]}
drf-yasg = "*"
meilisearch = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
flake8-quotes = "*"

[requires]
python_version = "3.11"
